*_Problem 1: Unique Words in a Sentence_*

In [3]:
# Taking sentence input from user
sentence = input("Enter sentence: ")

# Step 1: Split sentence into words
words = sentence.split()

# Step 2: Convert list to set to get unique words
unique_words = set(words)

# Step 3: Display result
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence:  Python is easy and python is powerful

Unique words count: 6
Unique words: {'is', 'python', 'powerful', 'and', 'easy', 'Python'}

*_Problem 2: Highest Salary from Employee Data_*

In [4]:
# Employee data stored in a dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Find employee with highest salary
highest_salary = 0
highest_paid_employee = ""

for name, salary in employees.items():
    if salary > highest_salary:
        highest_salary = salary
        highest_paid_employee = name

# Display result
print("Highest Salary:", highest_paid_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

*_Problem 3: Find Maximum and Minimum Values_*

In [5]:
# Given list of numbers
numbers = [45, 22, 89, 10, 66]

# Initialize max and min with first element
maximum = numbers[0]
minimum = numbers[0]

# Loop through the list
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

# Display results
print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

*_Problem 4: Count Products Above a Price Threshold_*

In [9]:
# List of product prices
prices = [450, 1200, 899, 1500, 300]

count = 0

# Count products priced above 1000
for price in prices:
    if price > 1000:
        count += 1

# Display result
print("Products above 1000:", count)

Products above 1000: 2

*_Problem 5: Calculate Attendance Percentage_*

In [10]:
# Attendance list
attendance = ["P", "P", "A", "P", "P"]

present_count = 0

# Count number of present days
for day in attendance:
    if day == "P":
        present_count += 1

# Calculate attendance percentage
total_days = len(attendance)
attendance_percentage = (present_count / total_days) * 100

# Display result
print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

*_Problem 6: Remove Duplicate Phone Numbers_*

In [11]:
# List of phone numbers
phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert list to set to remove duplicates
unique_phone_numbers = set(phone_numbers)

# Display result
print("Unique phone numbers:", unique_phone_numbers)

Unique phone numbers: {9876543210, 9123456789}

*_Problem 7: Count Character Frequency_*

In [13]:
# Given string
text = "python"

# Dictionary to store character frequency
char_frequency = {}

# Count each character
for char in text:
    if char in char_frequency:
        char_frequency[char] += 1
    else:
        char_frequency[char] = 1

# Display result
print(char_frequency)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

*_Problem 8: Convert List to Tuple_*

In [15]:
# Given list
numbers = [10, 20, 30]

# Convert list to tuple
numbers_tuple = tuple(numbers)

# Display result
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

*_Problem 9: Check if a Key Exists in a Dictionary_*

In [18]:
# Given dictionary
employee = {
    "Employee": "Ravi",
    "Salary": 50000,
    "Department": "IT"
}

# Check if key exists
if "Employee" in employee:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

*_Problem 10: Calculate Average Marks_*

In [19]:
# List of marks
marks = [70, 75, 80, 65]

total_marks = 0

# Calculate total marks
for m in marks:
    total_marks += m

# Calculate average
average_marks = total_marks / len(marks)

# Display result
print("Average Marks:", average_marks)

Average Marks: 72.5